<h1>CcsfRails#about</h1>
<h2>This is assignment 2</h2>
<h1>About Learning Rails</h1>
<h3>Michael Gerber</h3>
<br/><br/>
<p>You can edit this file here: <%= __FILE__ %></p>
<p><%= Time.now %></p>
<h3>ABOUT</h3>
<h1><%= link_to 'weclome' welcome_index_path %></h1>
<h1><%= link_to 'index' ccsf_rails_index_path %></h1>
<h1><%= link_to 'links' ccsf_rails_links_path %></h1
